<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/about.css" />
    <script defer src="js/about.js"></script>
  </head>
  <body>
    <main>
      <h1>Colour Contrast Analyser (CCA)</h1>
      <div class="center">
        <p>Version <span id="cca-version"></span></p>
        <img src="icons/cca.svg" width="100" height="100" alt="CCA icon" />
        <p>Developed by <a href="https://www.paciellogroup.com" class="external-link">The Paciello Group</a></p>
      </div>
      <h2>Translations</h2>
      <ul>
        <li>Deutsch: <a href="https://github.com/OLLI-S">Oliver Sahr</a></li>
        <li>Dutch: <a href="https://github.com/roelvangils">Roel Van Gils</a></li>
        <li>Español: Marielisa Figuera and Pablo Rosas</li>
        <li>Français: <a href="https://github.com/ferllings">@ferllings</a></li>
        <li>日本語: <a href="https://github.com/motchie">Toru Motchie MOCHIDA</a></li>
        <li>한국어: <a href="https://github.com/miname">HungJae Lee</a></li>
      </ul>
      <h2>External links</h2>
      <ul>
        <li><a href="https://developer.paciellogroup.com/resources/contrastanalyser/" class="external-link">TPG Resources</a></li>
        <li><a href="https://github.com/ThePacielloGroup/CCAe" class="external-link">Github page</a></li>
        <li><a href="https://github.com/ThePacielloGroup/CCAe/issues" class="external-link">Report an issue</a></li>
      </ul>
    </main>
  </body>
</html>