<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Colour blindness simulation</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/deficiency.css" />
    <script defer src="./js/deficiency.js"></script>
  </head>
  <body>
    <main>
      <h1 class="sr-only">Colour blindness simulation</h1>
        <h2>Monochromacy</h2>
        <div class="row">
          <div class="deficiency" id="deficiency-achromatopsia">
            <h3><span class="text">Achromatopsia</span> (<span class="cr" id="deficiency-achromatopsia-cr"></span>)</h3>
            <div class="desc">no colour</div>
            <div aria-hidden="true" class="preview" id="deficiency-achromatopsia-preview">Sample</div>
          </div>
          <div class="deficiency" id="deficiency-achromatomaly">
            <h3><span class="text">Achromatomaly</span> (<span class="cr" id="deficiency-achromatomaly-cr"></span>)</h3>
            <div class="desc">almost no colour</div>
            <div aria-hidden="true" class="preview" id="deficiency-achromatomaly-preview">Sample</div>
          </div>
        </div>
        <h2>Dichromacy</h2>
        <div class="row">
          <div class="deficiency" id="deficiency-protanopia">
            <h3><span class="text">Protanopia</span> (<span class="cr" id="deficiency-protanopia-cr"></span>)</h3>
            <div class="desc">no red</div>
            <div aria-hidden="true" class="preview" id="deficiency-protanopia-preview">Sample</div>
          </div>
          <div class="deficiency" id="deficiency-deuteranopia">
            <h3><span class="text">Deuteranopia</span> (<span class="cr" id="deficiency-deuteranopia-cr"></span>)</h3>
            <div class="desc">no green</div>
            <div aria-hidden="true" class="preview" id="deficiency-deuteranopia-preview">Sample</div>
          </div>
          <div class="deficiency" id="deficiency-tritanopia">
            <h3><span class="text">Tritanopia</span> (<span class="cr" id="deficiency-tritanopia-cr"></span>)</h3>
            <div class="desc">no blue</div>
            <div aria-hidden="true" class="preview" id="deficiency-tritanopia-preview">Sample</div>
          </div>
        </div>
        <h2>Trichromacy</h2>
        <div class="row">
          <div class="deficiency" id="deficiency-protanomaly">
            <h3><span class="text">Protanomaly</span> (<span class="cr" id="deficiency-protanomaly-cr"></span>)</h3>
            <div class="desc">low red</div>
            <div aria-hidden="true" class="preview" id="deficiency-protanomaly-preview">Sample</div>
          </div>
          <div class="deficiency" id="deficiency-deuteranomaly">
            <h3><span class="text">Deuteranomaly</span> (<span class="cr" id="deficiency-deuteranomaly-cr"></span>)</h3>
            <div class="desc">low green</div>
            <div aria-hidden="true" class="preview" id="deficiency-deuteranomaly-preview">Sample</div>
          </div>
          <div class="deficiency" id="deficiency-tritanomaly">
            <h3><span class="text">Tritanomaly</span> (<span class="cr" id="deficiency-tritanomaly-cr"></span>)</h3>
            <div class="desc">low blue</div>
            <div aria-hidden="true" class="preview" id="deficiency-tritanomaly-preview">Sample</div>
          </div>
        </div>
    </main>
  </body>
</html>