<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Colour Contrast Analyser (CCA)</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <h1>CCA Main windows</h1>
    <section id="foreground-color">
      <h2>Foreground Colour</h2>
      <button class="picker">Picker</button>
    </section>
    <section id="background-color">
      <h2>Background Colour</h2>
      <button class="picker">Picker</button>
    </section>
    <script>
      // You can also require other files to run in this process
      require('./js/main.js')
    </script>
  </body>
</html>