<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Colour Contrast Analyser (CCA)</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <h1 class="sr-only">CCA Main windows</h1>
    <section id="results">
      <h2 class="sr-only">Results</h2>
      <div id="level">Pass AA<br/>Pass AAA</div>
      <div id="contrast-ratio"><span class="label">Contrast Ratio</span><span class="value">99.9:1</span></div>
    </section>
    <section id="foreground-color">
      <h2>Foreground Colour</h2>
      <div class="hex-value">#------</div>
      <div class="name-value">------</div>
      <div class="buttons">
        <button class="rgb" aria-label="Foreground rgb sliders" aria-controls="foreground-rgb" aria-expanded="false"></button>
        <button class="picker" aria-label="Foreground color picker"></button>
      </div>
    </section>
    <section id="foreground-rgb" hidden>
        <div class="red">
          <span>Red</span>
          <input aria-label="Foreground red" type="range" min="0" max="255" value="0" />
          <input aria-label="Foreground red" type="number" maxlength="3" />
        </div>
        <div class="green">
          <span>Green</span>
          <input aria-label="Foreground green" type="range" min="0" max="255" value="0" />
          <input aria-label="Foreground green" type="number" maxlength="3" />
        </div>
        <div class="blue">
          <span>Blue</span>
          <input aria-label="Foreground blue" type="range" min="0" max="255" value="0" />
          <input aria-label="Foreground blue" type="number" maxlength="3" />
        </div>
      </div>
    </section>
    <section id="background-color">
      <h2>Background Colour</h2>
      <div class="hex-value">#------</div>
      <div class="name-value">------</div>
      <div class="buttons">
          <button class="rgb" aria-label="Background rgb sliders" aria-controls="background-rgb" aria-expanded="false"></button>
          <button class="picker" aria-label="Background color picker"></button>    
      </div>
    </section>
    <section id="background-rgb" hidden>
          <div class="red">
            <span>Red</span>
            <input aria-label="Background red" type="range" min="0" max="255" value="0" />
            <input aria-label="Background red" type="number" maxlength="3" />
          </div>
          <div class="green">
            <span>Green</span>
            <input aria-label="Background green" type="range" min="0" max="255" value="0" />
            <input aria-label="Background green" type="number" maxlength="3" />
          </div>
          <div class="blue">
            <span>Blue</span>
            <input aria-label="Background blue" type="range" min="0" max="255" value="0" />
            <input aria-label="Background blue" type="number" maxlength="3" />
          </div>
        </div>
    </section>
    <section id="sample-preview">
        <h2>Sample preview</h2>
        <div class="text" contenteditable="true">example text showing contrast</div>
      </section>
    <script>
      // You can also require other files to run in this process
      require('./js/main.js')
    </script>
  </body>
</html>