<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Preferences</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/preferences.css" />
    <link rel="stylesheet" href="css/tabs.css" />
  </head>
  <body>
    <main>
      <h1 class="sr-only">Preferences</h1>
      <fieldset>
        <legend>Options</legend>
          <label for="option-rounding">Contrast ratio precision</label>
          <select id="option-rounding">
            <option value="1">1 decimal place</option>
            <option value="2">2 decimal places</option>
          </select>
          <label for="option-checkForUpdates"><input type="checkbox" id="option-checkForUpdates"/>Enable Auto-Update</label>
          <label for="option-theme">Application Theme</label>
          <select id="option-theme">
            <option value="system">System (Default)</option>
            <option value="force-light">Light</option>
            <option value="force-dark">Dark</option>
          </select>
          <label for="option-lang">Language</label>
          <select id="option-lang">
            <option value="auto">Auto</option>
            <option value="de" lang="de">Deutsch</option>
            <option value="nl" lang="nl">Dutch</option>
            <option value="en" lang="en">English</option>
            <option value="es" lang="es">Español</option>>
            <option value="fr" lang="fr">Français</option>
            <option value="pl" lang="pl">Polski</option>
            <option value="ja" lang="ja">日本語</option>
            <option value="ko" lang="ko">한국어</option>
          </select>
          <div id="option-picker-group">
            <label for="option-picker">Color Picker type</label>
            <select id="option-picker">
              <option value="1">Electron</option>
              <option value="2">Add-on</option>
            </select>  
          </div>
      </fieldset>
      <fieldset>
        <legend>Shortcuts</legend>
          <label for="shortcut-foreground-picker">Picker foreground</label>
          <select id="shortcut-foreground-picker">
            <option value="F1">F1</option>
            <option value="F2">F2</option>
            <option value="F3">F3</option>
            <option value="F4">F4</option>
            <option value="F5">F5</option>
            <option value="F6">F6</option>
            <option value="F7">F7</option>
            <option value="F8">F8</option>
            <option value="F9">F9</option>
            <option value="F10">F10</option>
            <option value="F11">F11</option>
            <option value="F12">F12</option>
          </select>
          <label for="shortcut-background-picker">Picker background</label>
          <select id="shortcut-background-picker">
            <option value="F1">F1</option>
            <option value="F2">F2</option>
            <option value="F3">F3</option>
            <option value="F4">F4</option>
            <option value="F5">F5</option>
            <option value="F6">F6</option>
            <option value="F7">F7</option>
            <option value="F8">F8</option>
            <option value="F9">F9</option>
            <option value="F10">F10</option>
            <option value="F11">F11</option>
            <option value="F12">F12</option>
          </select>
      </fieldset>
      <div class="buttons">
        <button id="save">Save</button>
        <button id="cancel">Cancel</button>
      </div>
    </main>
    <script>
      // You can also require other files to run in this process
      require('./js/preferences.js');
    </script>
  </body>
</html>