html, body{
    margin: 0;
    font: caption; /* Default Operating System Font */
    font-size: 100%;
}

h1 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

a {
    color: #4865FF;
}

button, input {
    font-size: 1.2rem;
}

:focus {
    outline-color: orangered;
    outline-width: 3px;
}

button:focus {
    outline-offset: -4px;
}

.sr-only {
    clip: rect(1px 1px 1px 1px) !important; /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* https://github.com/WICG/focus-visible */
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
  }