html, body{
    margin: 0;
    font: caption; /* Default Operating System Font */
    font-size: 100%;
    color:var(--fg-primary);
    background-color: var(--bg-primary);
    
}
:root {
    --bg-accent:#1B75BC;
    --bg-pressed-icon: var(--bg-accent);
}
:root:not(.force-dark) {
    --bg-primary:#fff;
    --bg-secondary:#f5f5f5;
    --bg-fieldset:#fcfcfc;
    --bg-paraphrased:#dadada;
    --bg-control-primary: #dfdfdf;
    --bg-summary:#151515;
    --bg-details:#ECECEC;
    --fg-primary:#000;
    --fg-paraphrased:#222;
    --bg-code:var(--bg-paraphrased);
    --fg-border-primary:#ccc;
    --fg-border-secondary:#aaa;
    --fg-link:#4865FF;

    /* pass, fail icon */
    --fg-pass-color:#04874B;
    --fg-fail-color:#D22026;

    --bg-code:#ccc;
    --fg-control-border-primary: #8f8f8f;
    
    --fg-pressed-icon: white;
    --icon-color: light-dark(black, white);
    --icon-switch:url("../icons/switch-black.svg");
    --icon-sliders:url("../icons/sliders-black.svg");
    --icon-picker:url("../icons/picker-black.svg");
    --icon-help:url("../icons/help-black.svg");
    --canvas-text:CanvasText;
    accent-color: var(--bg-accent);

    --pref-bottom-background:linear-gradient(to bottom, rgb(255 255 255 / .3), rgb(255 255 255 / .6) 20%);

    color-scheme: light dark;
    --border-radius: 3px;
}

@media ( prefers-color-scheme : dark ) {
    :root:not(.force-light) {
        --bg-primary:#121212;
        --bg-secondary:#1f1f1f;
        --bg-fieldset:#202020;
        --bg-control-primary: #343434;
        --bg-summary:#2f2f2f;
        --bg-details:var(--bg-summary);
        --bg-paraphrased:#1f1f1f;
        --fg-paraphrased:#dadada;
        --bg-code:var(--bg-paraphrased);
        --fg-primary:#fff;
        --fg-border-primary:#666;
        --fg-border-secondary:#5a5a5a;
        --fg-control-border-primary: #6f6f6f;
        --fg-link:#58A5FF;

        /* pass, fail icon */
        --fg-pass-color:#06AF4B;
        --fg-fail-color:#FF6150;
        
        --icon-switch:url("../icons/switch-white.svg");
        --icon-sliders:url("../icons/sliders-white.svg");
        --icon-picker:url("../icons/picker-white.svg");
        --icon-help:url("../icons/help-white.svg");
        --icon-sliders-pressed:url("../icons/sliders-white.svg");
        --icon-picker-pressed:url("../icons/picker-white.svg");
        --icon-help-pressed:url("../icons/help-white.svg");

        --pref-bottom-background:linear-gradient(to bottom, rgb(0 0 0 / .3), rgb(0 0 0 / .6) 20%);
    }
}

@media (forced-colors: active) {
    :root {
        --icon-color: ButtonText;
        --bg-pressed-icon: SelectedItem;
        --fg-pressed-icon: SelectedItemText;
    }
}

@media (forced-colors: active) {
    :root {
        --icon-color: ButtonText;
        --bg-pressed-icon: SelectedItem;
        --fg-pressed-icon: SelectedItemText;
    }
}

html.force-light {
    color-scheme: light;
}
html.force-dark {
    color-scheme: dark;
}

h1 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

a {
    color: var(--fg-link);
}

button, input {
    font-size: 1.2rem;
    border-color: var(--fg-control-border-primary);
    border-style: solid;
    border-width: 1px;
}

input[type=number] {
    background-color: var(--bg-secondary);
    color: var(--fg-primary);
}
select {
    font-size: 1rem;
    background-color: var(--bg-secondary);
    color: var(--fg-primary);
}
:focus {
    outline-color: orangered;
    outline-width: 3px;
}

button:focus {
    outline-offset: -1px;
}

code {
    font-size: 1.1em;
    background: var(--bg-code);
    padding: 0.025em 0.3em;
    border: 1px var(--fg-border-secondary) solid;
    border-radius: 3px;
}

.sr-only {
    clip: rect(1px 1px 1px 1px) !important; /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.js-focus-visible :focus {
    outline: 0.25em rgba(0,0,0,0.4) solid;
    box-shadow: 0 0 0.25em 0.1em rgba(255,255,255,0.8);
}

/* https://github.com/WICG/focus-visible */
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
    box-shadow: initial;
}

button[title]:focus:after  {
    content:attr(title);
    background-color: black;
    right: 0; bottom: -2em;
    color: white;
    padding: 5px;
    position: absolute;
    display: block;
    min-width: 6rem;
    border-radius: 5px;
    z-index: 1;
    font-size: 0.8rem;
}