body, html{
    height: 100%;
}
  
body{
    overflow: hidden;
}

.darkMode {
    color: #ffffff;
}

section {
    position: relative;
    border-top: 1px solid #eeeeee;
}

h2 {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

summary h2 {
    display: inline-block;
}

section#foreground-color h2, 
section#background-color h2 {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

section {
    padding: 0.5rem;
    background-color: #ececec;
}

/* Results section */
section#results {
    min-height: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

section#results #contrast-ratio {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    text-align: right;
}

section#results #contrast-ratio .label {
    font-size: 0.9rem;
    display: block;
}

section#results #contrast-ratio-level img {
    height: 1.2rem;
    width: 1.2rem;
}

/* Color sections */
section#foreground-color, 
section#background-color {
    display: flex;
    align-items: center;
    min-height: 5rem;
    font-size: 1.4rem;
    justify-content: center;
}

section#foreground-color .buttons, 
section#background-color .buttons {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

section#foreground-color button, 
section#background-color button {
    background-color: #ffffff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
    width: 2rem;
    height: 1.2rem;
    border: 1px solid #cccccc;
    border-radius: 0.2rem;
}

section#foreground-color button.picker, 
section#background-color button.picker {
    background-image: url('../icons/picker.svg');
}

section#foreground-color button.rgb, 
section#background-color button.rgb {
    background-image: url('../icons/sliders.svg');
}

section#foreground-color button.text, 
section#background-color button.text {
    background-image: url('../icons/text.svg');
}

/* Text input sections */
section#foreground-text input,
section#background-text input {
    width: 100%;
    margin-top: 0.5rem;
    border: 1px solid #9A9A9A;
}

section#foreground-text input.invalid,
section#background-text input.invalid {
    border-bottom: 4px solid crimson;
    background: #ffffff url('../icons/warning.png') 98% 50% no-repeat;
    background-size: contain;
}

section#foreground-text input.valid,
section#background-text input.valid {
    border-bottom: 4px solid green;
}

/* RGB input sections */
section#foreground-rgb .sync,
section#background-rgb .sync {
    text-align: right;
}

section#foreground-rgb .slider,
section#background-rgb .slider {
    display: grid;
    grid-template-columns: 4rem 1fr 2.5rem;
}

section#foreground-rgb input[type=number],
section#background-rgb input[type=number] {
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
section#foreground-rgb input[type=range],
section#background-rgb input[type=range] {
    margin: 0 0.5rem 0 0.5rem;
}

section#foreground-rgb input[type=number]::-webkit-inner-spin-button,
section#foreground-rgb input[type=number]::-webkit-outer-spin-button,
section#background-rgb input[type=number]::-webkit-inner-spin-button,
section#background-rgb input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Sample preview section */

section#sample-preview .preview-box {
    display: flex;
    align-items: center;
    min-height: 5rem;
    font-size: 1.4rem;
    justify-content: center;
}

section#sample-preview .preview-box .text {
    border: 1px #cccccc dashed;
    padding: 0.5rem;
}

/* Deficiency section */
section#deficiency .row {
    display: flex;
    justify-content: space-between;
}

section#deficiency .deficiency {
    flex-grow: 1;
    margin: 0.5rem;
    text-align: center;
}

section#deficiency h3 {
    margin: 0;
    padding: 0;
}

section#deficiency h4 {
    margin: 0;
    padding: 0;
}

section#deficiency .preview {
    border-radius: 0.5rem;
    padding: 0.5rem;
}

section#deficiency .cr,
section#deficiency .level,
section#deficiency .desc {
    font-size: 0.8rem;
}

section#deficiency .desc {
    font-style: italic;
}

section#deficiency .level img {
    height: 1rem;
    width: 1rem;
}

/* Advanced results section */
section#advanced-results .text {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #eeeeee;
}