body, html{
    height: 100%;
    user-select: none;
    cursor:default;
}
  
body{
    overflow: hidden;
}

.darkMode {
    color: #ffffff;
}

section {
    position: relative;
    border-top: 1px solid #eeeeee;
}

*[contenteditable="true"] {
    user-select: text;
    cursor: text;
}

summary h2, summary h3 {
    display: inline-block;
}


section#foreground-color h2, 
section#background-color h2 {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

section {
    padding: 0.5rem;
    background-color: #ececec;
}

.hideLevelAAA .levelAAA {
    display: none;
}

/* Tooltips*/
.tooltip-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

[role="tooltip"] {
    color: #ffffff;
	display: none;
	position: absolute;
    top: 110%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
    font-size: 0.9rem;}

input:focus + [role="tooltip"] {
	display: block;
}

#contrast-ratio h2 {
    position: absolute;
}

#contrast-ratio-value {
    text-align: center;
    font-size: 1.2rem;
}

/* Color sections */
section#foreground-color, 
section#background-color {
    display: flex;
    align-items: center;
    min-height: 5.4rem;
    font-size: 1.4rem;
    justify-content: center;
}

section#foreground-color .buttons, 
section#background-color .buttons {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

/* Free text input */
section#foreground-color input.free-value,
section#background-color input.free-value  {
    appearance: none;
    -webkit-appearance: none;
    border: 1px #cccccc dashed;
    padding: 0.2rem 2.5rem;
    background: transparent;
    text-align: center;
    font-size: 1.4rem;
    color: inherit;
    width: 12rem;
}

section#foreground-color input.free-value.invalid,
section#background-color input.free-value.invalid {
    box-shadow: 0px 4px 0px 0px crimson;
    background: #ffffff url('../icons/warning.png') 98% 50% no-repeat;
    background-size: contain;
}

section#foreground-color input.free-value.valid,
section#background-color input.free-value.valid {
    box-shadow: 0px 4px 0px 0px green;
}

section#foreground-color .name-value,
section#background-color .name-value {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-style: italic;
    font-size: 1.2rem;
}

section#foreground-color input.free-value:focus,
section#background-color input.free-value:focus {
    appearance: textfield;
    -webkit-appearance: textfield;
    border: 1px solid #cccccc;
    color: #000000;
    background: #ffffff;
}

section#foreground-color button, 
section#background-color button {
    background-color: #ffffff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    width: 2rem;
    height: 1.2rem;
    border: 1px solid #cccccc;
    border-radius: 0.2rem;
}

section#foreground-color button.picker, 
section#background-color button.picker {
    background-image: url('../icons/picker-black.svg');
}

section#foreground-color button.rgb, 
section#background-color button.rgb {
    background-image: url('../icons/sliders-black.svg');
}

section#foreground-color button.help, 
section#background-color button.help {
    background-image: url('../icons/help-black.svg');
}

section#foreground-color button.switch {
    background-image: url('../icons/switch.svg');
}

section#foreground-color button[aria-expanded=true].picker,
section#background-color button[aria-expanded=true].picker {
    background-image: url('../icons/picker-white.svg');
}

section#foreground-color button[aria-expanded=true].rgb,
section#background-color button[aria-expanded=true].rgb {
    background-image: url('../icons/sliders-white.svg');
}

section#foreground-color button[aria-expanded=true].help,
section#background-color button[aria-expanded=true].help {
    background-image: url('../icons/help-white.svg');
}

section#foreground-color button[aria-expanded=true],
section#background-color button[aria-expanded=true] {
    background-color: #1B75BC;
}

/* RGB input sections */
section#foreground-rgb .sync,
section#background-rgb .sync {
    text-align: right;
}

section#foreground-rgb .slider,
section#background-rgb .slider {
    display: grid;
    grid-template-columns: 4rem 1fr 2.5rem;
}

section#foreground-rgb input[type=number],
section#background-rgb input[type=number] {
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
section#foreground-rgb input[type=range],
section#background-rgb input[type=range] {
    margin: 0 0.5rem 0 0.5rem;
}

section#foreground-rgb input[type=number]::-webkit-inner-spin-button,
section#foreground-rgb input[type=number]::-webkit-outer-spin-button,
section#background-rgb input[type=number]::-webkit-inner-spin-button,
section#background-rgb input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Sample preview section */

section#sample-preview .preview-box {
    display: flex;
    align-items: center;
    min-height: 5rem;
    font-size: 1.4rem;
    justify-content: center;
}

section#sample-preview .preview-box .text {
    border: 1px #cccccc dashed;
    padding: 0.5rem;
}

section#sample-preview .icon {
    margin-left: 1rem;
    padding: 0.5rem; 
    border: 1px #cccccc dashed;
}

section#sample-preview .icon svg {
    width: 2rem;
    height: 2rem;
}

/* Results section */
section#results {
    background-color: #ffffff;
}

section#results details {
    margin: 0.5rem;
    border-radius: 3px;
    background: #EEE;
}

section#results summary {
    background: #333;
    color: #FFF;
    border-radius: 3px;
    padding: 0.5rem 1rem;
}

section#results details[open] summary {
    background: #1B75BC;
}

section#results details p {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    margin: 0;
}

section#results .contrast-level {
    margin-left: 2.5rem;
}


section#results .contrast-level img {
    height: 1.2rem;
    width: 1.2rem;
    margin-bottom: -0.2rem;
}
