*{
    margin: 0;
    padding: 0;
}

body{
    background: transparent;
    cursor: crosshair;
    overflow: hidden;
}

#picker{
    width: 98px;
    height: 98px;
    border-radius: 120px;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px red, inset 0 0 0 1px red;
}