<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- CFBundleDevelopmentRegion -->
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
<!-- CFBundleDisplayName -->
    <key>CFBundleDisplayName</key>
    <string>MoDao Native ColorPicker</string>
<!-- CFBundleExecutable -->
    <key>CFBundleExecutable</key>
    <string>ColorPicker</string>
<!-- CFBundleIconFile -->
    <key>CFBundleIconFile</key>
    <string></string>
<!-- CFBundleIdentifier -->
    <key>CFBundleIdentifier</key>
    <string>cc.modao.desktop.colorpicker</string>
<!-- CFBundleInfoDictionaryVersion -->
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
<!-- CFBundleName -->
    <key>CFBundleName</key>
    <string>ColorPicker</string>
<!-- CFBundlePackageType -->
    <key>CFBundlePackageType</key>
    <string>APPL</string>
<!-- CFBundleShortVersionString -->
    <key>CFBundleShortVersionString</key>
    <string>1.1.1</string>
<!-- CFBundleVersion -->
    <key>CFBundleVersion</key>
    <string>1.1.1</string>

    <key>CFBundleLongVersionString</key>
    <string>1.1.1 © 2017-2018 MoDao</string>
<!-- NSHumanReadableCopyright  -->
    <key>NSHumanReadableCopyright</key>
    <string>Copyright MoDao</string>

	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

    <key>NSHighResolutionCapable</key>
    <true/>

    <key>LSUIElement</key>
    <true/>

<!--
    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CSResourcesFileMapped</key>
    <true/>
    -->
</dict>
</plist>

