@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4564bm');
  src:  url('fonts/icomoon.eot?4564bm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4564bm') format('truetype'),
    url('fonts/icomoon.woff?4564bm') format('woff'),
    url('fonts/icomoon.svg?4564bm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cca .path1:before {
  content: "\e900";
  color: rgb(28, 117, 188);
}
.icon-cca .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: none;
}
.icon-cca .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cca .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: none;
}
.icon-chart:before {
  content: "\e904";
}
.icon-fail:before {
  content: "\e905";
  color: #ff6150;
}
.icon-help-black:before {
  content: "\e906";
}
.icon-pass:before {
  content: "\e907";
  color: #06af4b;
}
.icon-picker-black:before {
  content: "\e908";
}
.icon-sliders-black:before {
  content: "\e909";
}
.icon-switch-black:before {
  content: "\e90a";
}
